{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": [
      2,
      "never"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "curly": "error",
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "no-console": "off",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "camelcase": "error",
    "prettier/prettier": "error",
    "flowtype/no-types-missing-file-annotation": "off"
  },
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ]
}
